body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
  background-color: #fcfcfc;
}

h2{
  font-size: 1.5vmax;
}

h3{
  font-size:1.3vmax;
  padding-top:8px;
}

p{
  font-size: 1.1vmax;
}

.logo {
  color: #44c;
  margin: 0px 0 0px 3%;
  font-size:2vmax;
}

.logo a {
  text-decoration: none;
}

.logo a:visited {
  color: #44c;
}

.header{
  display:flex;
  justify-content: space-between;
}

.header__nav__btn{
    font-size: 20px;
    font-weight: 600;
    color: #a0a0a0;
    border: none;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0);
  
}

.header__nav
{
  width:30%;
  text-align:center;
  vertical-align: center;
  margin:auto 0;
}


.header__nav_menu {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  position: absolute;
  top:-100vh;
  left: 75%;
  background: #fff;
  transition: .3s;
  text-align: center;
  align-content: center;
  width: 20%;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  border-radius: 4px;
  padding-bottom:30px;
}

.closeBtn {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #44c;
  border: none;
  border-radius: 2px;
  width: 18px;
  margin: 4px 8px 0 auto;
}

.header__nav_menu__link {
  margin:30px auto 30px ;
  width: 50%;
}

.in {
  transform: translateY(100vh);
}

/* header-end */

/* main*/

/* reserves_list */

main{
  width:95%;
  display:flex;
  justify-content: space-around;
}

.reserves_list{
  width:45%;
}

.reserves_list h2 {
  margin:24px 0  0 4px;
}

.reserve{
  color:white;
  width:100%;
  background-color: #66c;
  border-radius:8px;
  margin:8px 0px 16px 0px;

}

.reserve__head{
  /* display:flex;
  justify-content: space-around;
  align-content: center; */
  margin-left:3%;
}

.reserve_del_btn{
  font-size: 1vmax;
  color:white;
  background-color: rgb(231, 69, 9);
  padding:4px 0;
  margin:8px 0 8px 5%;
  border:solid 1px #888;
  border-radius: 4px;
  width:100px;
}

.reserve_update_btn{
  font-size: 1vmax;
  color:white;
  background-color:#ba0;
  padding: 4px 0;
  margin: 8px 4px 8px 10%;
  border: solid 1px #888;
  border-radius: 4px;
  width:100px;
}

.reserve__update{
  display: flex;
  justify-content: space-between;
}

.reserve__content{
  width:100%;
  margin:0 auto;
  padding-bottom:16px;
  display: flex;
  flex-direction: column;
}

.reserve__content__head{
  width:30%;
}
.reserve__content__info{
  width:65%;
  font-size:1.2vmax;
  padding-left:5%;
}

.reserve__content th{
  font-size:1.0vmax;
}
.reserve__content__info input{
  width:80%;
  font-size:1.1vmax;
  font-weight:600;
  padding-left:5%;
}

#time{
  width:65%;
  font-size:1.1vmax;
  font-weight:400;
  padding-left:5%;
}

#number{
  width:65%;
  font-size:1.1vmax;
  font-weight:400;
  padding-left:5%;
}

.reserve__check{
  width:100%;
  align-content: center;
}

.error_message{
  display:inline-block;
  margin:15% 0 0 5%;
  color: #ca0;
  font-size:1.1vmax;
}

/* reserves_list-end */

/* likes_list */
.likes_list{
  width:45%;
}

.likes_list h2{
  margin: 24px 0 0 4px;
}


.likes__shops{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 12px auto;
  width: 100%;
  border:solid 1px #cacaca;
  border-radius: 4px;
}

.shop_card {
  width: 45%;
  aspect-ratio: 4/5;
  margin: 16px 2%;
  border-radius: 5%;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.shop_card__img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

.shop_card__detail {
  margin: 0 5%;
}

.shop_card__detail h3 {
  margin: 0px 0px;
}

.shop_card__detail p {
  margin: 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.shop_card__tag span {
  font-weight: 600;
  margin-right: 8px;
}

.shop_card__bottom {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop_card__bottom a{
  align-content: middle;
  border-radius: 8px;
  height:32px;
  padding:4px 8px 4px 8px;
  font-size: 1.1vmax;
  background-color: #44c;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  align-items: bottom;
  color: #fff;
  text-decoration: none;
}

.shop_card__like__btn {
  border: none;
  color: #da0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2vmax;
}

.like_true {
  font-size: 2vmax;
}

/* likes_list-end */

@media screen and (max-width: 768px) {
  main {
    width: 95%;
    display:block;
    margin:0 auto;
  }


  
  .reserves_list {
      width: 80%;
      margin:0 auto;
    }
    
    .likes_list {
      width: 80%;
      margin:0 auto;
    }

  .likes__shops {
    display: block;
    margin: 12px auto;
    width: 100%;
    border: solid 1px #cacaca;
    border-radius: 4px;
  }

  .shop_card {
    width: 90%;
    aspect-ratio: 1/1;
    margin: 16px auto;
    border-radius: 5%;
    box-shadow: 1px 1px 6px 1px #a0a0a0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

    .logo {
      font-size: 32px;
    }

    .reserve__content__info {
      font-size: 24px;
    }
  .reserve_del_btn {
    font-size: 18px;
  }

  .reserve_update_btn {
    font-size: 18px;
  }
    .reserve__content th {
      font-size: 18px;
    }

    .reserve__content__info input {
      font-size: 18px;
      width:80%;
    }

    .shop_card__bottom a {
      font-size: 20px;
      margin-bottom:8px;
    }

    .shop_card__like__btn {
      font-size: 32px;
    }

}