body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
  background-color: #fcfcfc;
}

main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:24px auto;
  width: 90%;
}

.logo {
  padding-left: 5%;
  color: #44c;
  font-size: 32px;
}

.logo a {
  text-decoration: none;
}

.logo a:visited {
  color: #44c;
}

.header__flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30%;
}

.header__menu__btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 0.5;
  color: #a0a0a0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.header__search {
  display: flex;
  justify-content: end;
  align-content: center;
  vertical-align: bottom;
  margin: auto 16px;
}

.header__search select,
input {
  font-size:20px;
  border: none;
  outline: none;
}

.header__search__btn {
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 18px;
  color: #fff;
  background-color: #44c;
  border: none;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
}

.header__nav_menu {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  position: absolute;
  left: -22%;
  background: #fff;
  transition: .3s;
  text-align: center;
  align-content: center;
  width: 20%;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  border-radius: 4px;
}

.closeBtn {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #44c;
  border: none;
  border-radius: 2px;
  width: 18px;
  margin: 4px 8px 0 auto;
}

.header__nav_menu__link {
  margin: 30px auto;
  width: 50%;
}

.in {
  transform: translateX(100%);
}


.shop_card {
  width: 22%;
  aspect-ratio: 4/5;
  margin:16px 1%;
  border-radius: 5%;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-size:1.5vmax;
}


.shop_card__img {
  width: 100%;
  object-fit: contain;
  border-radius:5px 5px 0 0 ;
}

.shop_card__detail{
  margin:0 5%;
}

.shop_card__detail h3{
  margin:0px 0px;
}
.shop_card__detail p{
  margin:0px 0px;
  display:flex;
  flex-wrap:wrap;
}

.shop_card__tag span{
  font-size:1.2vmax;
  font-weight: 600;
  margin:16px 8px 0 0 ;
}

.shop_card__bottom {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop_card__bottom a {
  align-content: middle;
  border-radius: 8px;
  height: 32px;
  padding: 8px 8px 0px 8px;
  font-size: 14px;
  background-color: #44c;
  box-shadow: 1px 1px 6px 1px #a0a0a0;
  align-items: bottom;
  color: #fff;
  text-decoration: none;
}

.shop_card__like__btn{
  border:none;
  color:#da3;
  background-color: rgba(0, 0, 0, 0);
  font-size:1.5vmax;
}

.like_true{
  font-size:2.0vmax;
}

@media screen and (max-width: 768px) {

  .shop_card {
    width: 45%;
    aspect-ratio: 1/1;
    font-size: 20px;
  }

  .header__flex{
    display:block;
  }

  .header__menu{
    display:block;
  }

  .header__menu__btn{
    font-size:4vmin;
  }

  .header__nav_menu{
    left:-50%;
    width:50%;
  }

.in {
  transform: translateX(100%);
  }

  .header__search{
    width:95%;
  }

  .header__search__form{
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__search__form select{
    font-size: 12px;
    border: 1px solid #909090;
    height:24px;
    width: 22%;
    border-radius:8px;
      }

  .header__search__form input {
    border: 1px solid #909090;
    outline: none;
    padding-left:8px;
    width: 22%;
    height:20px;
    border-radius:8px;
    font-size: 12px;
  }

  .header__search__btn{
    width:15%;
    font-size: 12px;
  }

  .shop_card__tag span {
    font-size: 18px;
    font-weight: 600;
    margin: 16px 8px 0 0;
  }

  .shop_card__bottom a {
    font-size: 1vmin;
    padding-top:4px 0 0 0;
  }

  .shop_card__like__btn {
    border: none;
    color: #da3;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
  }

  .like_true {
    font-size: 32px;
  }
}
