version: 2.1

executors:
  deploy_container:
    docker:
      - image: cimg/php:8.0.13
        environment:
          APP_ENV: testing
          DB_CONNECTION: rese_test
          DB_HOST: 127.0.0.1
          DB_DATABASE: rese_test
          DB_USERNAME: 'root'
          DB_PASSWORD: ''
      - image: circleci/mysql:8
        environment:
          MYSQL_DATABASE: testing
          MYSQL_ROOT_HOST: '%'
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
          TZ: Asia/Tokyo

commands:
  run_test:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "backend/composer.json" }}
            - v1-dependencies-
      - run:
          name: composer install
          working_directory: backend
          command: composer install
      - run:
          name: laravel setting
          working_directory: backend 
          environment:
            ENV: circleci
          command: sh ../infra/docker/php/laravel_setting.sh
      - save_cache:
          paths:
            - backend/vendor
          key: v1-dependencies-{{ checksum "backend/composer.json" }}
      - run: 
          name: run phpstan
          working_directory: backend
          command: ./vendor/bin/phpstan --memory-limit=1G analyse
      - run: 
          name: run cp env file
          working_directory: backend
          command: cp .env.example .env  
      - run: 
          name: run key generate
          working_directory: backend
          command: php artisan key:generate
      - run: 
          name: run migrate
          working_directory: backend
          command: php artisan migrate:fresh --seed
      - run: 
          name: run phpunit
          working_directory: backend
          command: php artisan test

jobs:
  run_test:
    executor: deploy_container
    steps:
      - checkout
      - run_test
      - notify_slack_fail
      - notify_slack_pass

workflows:
  push-branch-workflow:
    jobs:
      - run_test:
          name: "run_test"
