version: 2.1
jobs:
  build:
    docker:
      - image: cimg/php:8.2.0-node
    steps:
      - checkout
      - run: sudo composer self-update --1
      - run: composer install -n --prefer-dist
      - run:
          name: php test
          command: vendor/bin/phpunit