version: 2.1
jobs:
  build:
    docker:
      - image: cimg/php:8.2.0-node
      - image: circleci/mysql:8.0.17
        command: mysqld --default-authentication-plugin=mysql_native_password

    environment:
      - APP_DEBUG: true
      - APP_ENV: testing
      - APP_KEY: base64:6ctYtAPElOYuQ38tQaAINs78YRKEoL4gIIqU8QvlJxw=
      - DB_CONNECTION: rese_test
      - MYSQL_ALLOW_EMPTY_PASSWORD: true
      
    working_directory: ~/repo
      
    steps:
      - checkout

      # Install PHP Extension
      - run: sudo docker-php-ext-install pdo_mysql
      
      - run:
          name: Install dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.6.1

      - run:
          name: Waiting for DB connection
          command: dockerize -wait tcp://cidb:3306 -timeout 120s
      - run: mkdir -p ~/reports/coverage
      - run:
          command: composer cs-check-report > ~/reports/cs-check-results.xml
          background: true # ←バックグラウンド処理にした
      - run: php artisan migrate --database=rese_test --path=database/migrations/foobar --seed
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: composer install -n --prefer-dist
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}
      - run: ./vendor/bin/phpunit -c ./phpunit.ci.xml --coverage-html ~/reports/coverage tests/   

